<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="CyotekImageBox" version="1.2.1" targetFramework="net472" />
  <package id="DdsFileTypePlusHack" version="1.0.4" targetFramework="net472" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net472" />
  <package id="Fody" version="6.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Magick.NET.Core" version="6.1.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.23.1" targetFramework="net472" />
  <package id="MozJpegSharp" version="1.0.27" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
</packages>